.App h1 {
  text-align: center;
}

.App .workout-wrapper {
  margin-left: 30px;
}

.App .workout-wrapper .activity-wrapper {
  display: flex;
  align-items: center;
}

.App .workout-wrapper .activity-wrapper button {
  margin-left: 20px;
}

.App .workout-wrapper .add {
  display: flex;
  align-items: flex-end;
}

.App .workout-wrapper .add .input-section {
  margin-right: 20px;
}





